  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(228, 2, 179), rgb(223, 116, 217),rgb(230, 160, 200)); 
    /* background: linear-gradient(110deg, #23db6a 60%, #a2d375 60% ); */
   
     /* background: linear-gradient(135deg, rgb(110, 190, 92) 0%, rgb(86, 230, 42) 13%, rgb(168, 219, 131)88%); */
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    /* overflow: hidden; */
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;

    width: 100%;
    float: left;
    
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius:30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    /* flex-wrap: wrap; */
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #28c743;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-image:url(image/unchecked.png) ;
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(image/check_box2.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #e20808;
    color: #fff;
} 
